/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

   /* General styles*/

   html {
    font-size: 16px;
   }

   body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    color: #e2e3ed;
   }

   ul, ol {
    list-style: none;
   }

   a {
    color: #e2e3ed;
    text-decoration: none;
   }

   h1 {
    font-size: 2.25em;
    line-height: 2.6875em;
    font-weight: 500;
   }

   h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.875em;
    font-weight: 500;
   }

   h3, h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.125em;
    font-weight: 500;
   }

   p {
    font-size: .875em;
    line-height: 1.125em;
   }

   nav {
    font-size: 1.125;
    font-weight: bold;
    text-transform: uppercase;
   }

   .input-forms {
    font-size: 1.125em;
    font-weight: 500;
   }

   img {
 
   }

   figure {

   }

   address {
    font-style: normal;

   }
   
.content-wrapper {
  width: 90%;
  margin: 50px 0;
}

/**** HEADER FOOTER BASE STYLES ****/

header, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-color: #202322;
}

header {
  padding: 15px 0;
}

header .content-divider {
  width: 100%;
  height: 1px;
  margin: 10px 0 20px 0;
}

header .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 0;
}


header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap; 
  width: 60%;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  width: 100%
}


footer {
  /*margin: 50px 0;*/
  flex-direction: column;
  text-align: center;
}

.social-icons {
  background-color: #527158;
}

footer .content-wrapper {
  width: 65%;
}

footer .social {
  margin-top: 50px;
}

footer .social-icons {
  display: flex;
  justify-content: space-between;
} 


footer .footer-content h4 {
  margin: 20px 0;
}

footer p {
  margin: 0;
}

footer .copyright {
  margin: 20px 0;
}


/**** mobile styles - homepage ****/

/* hero area */

.hero-area {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  background-image: url(../img/unplugged-retreat.jpg);
}

/* aside */

aside {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  background-color: #527158;
} 

aside .content-description, aside .form {
  width: 100%;
}

aside h3 {
  margin: 20px 0;
} 

aside p {
  margin-bottom: 30px;
  justify-content: center;
}

aside .content-wrapper .form-description, 
aside .content-wrapper .form {               
  margin: 0;
}

aside .content-wrapper .input-forms {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}


aside .form input[type=text] {
  padding: 1em;
  margin-bottom: 20px;
  width: 100%;
}

aside .form input[type=button] {
  padding: 20px 0;
  margin: 20px 0;
  width: 100%;
}

aside .form {
  margin-top: 30px;
}
 
input[type=text] {
  box-sizing: border-box;
  width: 100%;
  color: #2a423a;
  font-style: italic;
  padding: 1em;
  background-color: #2a423a;
}
 
input[type=button] {
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  background-color: #2a423a;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  color: #e2e3ed;
  border: none;
  text-align: center;
  text-transform: uppercase;
  background-color: #2a423a;
}
/* features */

.features {
  display: flex;
  /*width: 100%;*/
  justify-content: center;
  background-image: url(../img/unplugged-retreat-features.jpg);
}

.features h2 {
  margin: 0 0 60px 0;
}

.features p {
  margin: 0;
  text-align: center;
}


.features .content-wrapper {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

article {
  width: 65%; 
  margin: 30px 0;
  /*display: flex;*/
}

.features .fontawesome-icon {
  margin-bottom: 40px;
}


/* reviews */

.reviews {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%; 
  background-color: #2a423a;
}

.reviews h3 {
  width: 55%;
  margin: 20px 0;
}

.reviews h2 {
  margin-bottom: 40px;
}


/*===============================
  about page styles 
================================*/


.mission {
  display: flex;
  justify-content: center;
  background-color: #527158;
} 

.mission-content p {
  width: 100%;
} 

/* map section */

.map {

}

/* contact section */

.contact-section {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #2a423a;
}

main .contact-section h2 {

}
main .contact-section .contact-content {

} 

.contact-content p {
  margin: 0;
}

.general-information-contact .facilitator-contact {

}




/*===========================
faq page styles 
==============================*/

.faq {
  display: flex; 
  justify-content: center;
  background-color: #527158;
} 

.faq h2 {
  margin-bottom: 40px;
}

.faq. .content-wrapper {
  margin: 50px 0 0 0; 
} 

.faq h2 {
  width: 100%;
}

.faq-content {
  margin-bottom: 50px;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/*============================
breakpoints below
==============================*/

@media only screen and (min-width: 768px) {
  /*Tablet styles here*/

  /* =================
  homepage styles 
  ===================*/

  .content-wrapper {
    max-width: 640px;
    margin: 100px 0;
  }

  /* header styles */

  header {
   justify-content: space-around;
  }
  header .content-wrapper {
    margin: 33px 0;
    width: 100%;
    justify-content: start;
  }

  header nav {
    justify-content: end;
  }
  
  header nav ul {
    width: 33%;
    justify-content: space-between; 
  }

  header .content-divider {
    display: none;
  }

  /* hero area */

  /* aside */

  .content-description, .form {
    margin: 0;
    width: 40%;
  }

  aside .content-wrapper {
   display: flex;
    justify-content: space-between;
  }

  aside {
    width: 100%;
  }

  aside .content-description, aside .form {
    width: 40%;
  }


  /* features */

  .features .content-wrapper {
    margin: 100px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
  }



  .features article {
    width: 35%;
    flex-basis: auto;
  }


  .features h2 {
    margin-bottom: 20px;
  }

  .features p {
    text-align: center;
  }

  .features .fontawesome-icon {
    margin-bottom: 30px;
  }

  /* reviews */

  .reviews .content-wrapper {
    margin: 100px 0;
  }

  .reviews article {

  }

  /* footer */

 

  footer .content-wrapper {
    margin: 100px 0;
    width: 80%;
  }

  /*footer {
    width: 80%;
  }*/

  .footer-content {
    display: flex;
    justify-content: space-between; 
    /*flex-flow: row wrap; */
    align-items: baseline;
  }  





 /*==================
 about page styles
 ====================*/

/* mission section */

.mission .mission-content {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-flow: row wrap;
}

.mission p {
  width: 45%;
  
}


/* contact section */


main .contact-section .contact-content {
 /* display: flex; 
  width: 100%;
  flex-flow: row wrap*/
}

main .contact-content {
  display: flex;
  justify-content: space-between; 
}

main .contact-content .general-information-contact, main .contact-content .facilitator-contact {
  width: 40%;
}


 /*===================
 faq page styles 
 =====================*/

 /* .faq {
  display: flex;
  width: 100%;
 } */

 
 .faq-content-items {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
 }

 .faq h2 {
  width: 100%;
 }

 .faq-content {
  width: 45%;
 }

}

@media only screen and (min-width: 1200px) {
  /*Desktop styles here*/


.content-wrapper {
  max-width: 960px;
  margin: 0;
}

/************** homepage styles ************/

header .content-wrapper {
  margin: 15px 0;
}

/* hero area */

.hero-area {
  /*justify-content: flex-start;*/
}

.hero-area h1 {
  width: 70%;
}

/* aside area */

aside .content-wrapper {
  width: 80%;
  justify-content: space-around;
}


aside .content-wrapper .form-description, aside .content-wrapper .form {
  width: 35%;
}

/* features */


.features h2 {
  width: 100%;
}

.features article {
  width: 30%;
  flex-basis: auto;
}

/* reviews */

.reviews article div {
  width: 100%;
}


/* footer */

footer .content-wrapper {
  width: 100%;
}

/************* about page styles *************/


/************* faq page styles *************/

}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

